Package: lamake
Version: 0.1
Architecture: all
Maintainer: Nikos Maris <nickmeet@gmail.com>
Depends: gedit-latex-plugin
Section: gnome
Priority: extra
Description: lamake is a build automation script
	It adds the option "Make PDF" at the tools menu of gedit-latex-plugin. It serves as an alternative latex build automation script to rubber.
	
	Installation:
	Restart gedit if it was open while installing.
	If it is already installed, it will be updated
	
	Usage:
	If something went wrong, the file main.log will be generated
	The main latex file should be called main.tex, otherwise configure the file ~/.lamake/Makefile.ini
	
	Wishlist:
	Report errors at tools pane of gedit
